.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 200px 70px;

  @media (min-width: 744px) {
    grid-template-rows: 120px 250px 70px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;

    @media (min-width: 744px) {
      padding: 15px 10px 5px;
    }

    h2,
    p {
      text-align: center;
    }

    h2 {
      font-size: var(--size-s);

      @media (min-width: 744px) {
        font-size: var(--size-l);
      }
    }

    p {
      @media (min-width: 744px) {
        font-size: 15px;
        font-weight: var(--fw-xl);
        letter-spacing: 1.2px;
      }
    }
  }

  &__form {
    width: 45%;
    margin: 15px auto;

    form input,
    textarea {
      width: 100%;
      padding: 10px 0 5px;
      border-bottom: 1px solid #fff;
      font-weight: var(--fw-xl);
      letter-spacing: 0.9px;

      @media (min-width: 744px) {
        font-size: 14px;
        letter-spacing: 1px;
      }
    }

    form input[type="submit"] {
      width: 100%;
      margin-top: 10px;
      padding: 5px 0;
      color: var(--bg);
      background-color: #fff;
      font-weight: var(--fw-r);

      &:hover {
        background-color: var(--hv-btn);
        cursor: pointer;
      }
    }

    form input::placeholder,
    textarea::placeholder {
      color: var(--placeholder);
      padding-left: 5px;
    }

    textarea {
      padding-bottom: 0;
    }
  }

  &__footer {
    width: 20%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    i.fa-brands {
      font-size: var(--size-xxs);
      transition: transform all 0.4s;

      @media (min-width: 744px) {
        font-size: var(--size-xs);
      }

      &:hover {
        color: var(--hv-btn);
        cursor: pointer;
        transform: rotateZ(360deg);
        transition: all 0.4s;
      }
    }
  }
}
