.contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 120px 180px 100px;

  &__title {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 10px;

    h2, p {
        text-align: center;
    }

    h2 {
        font-size: var(--size-s);
    }
  }

  &__form {
    width: 45%;
    margin: 8px auto;
    /* display: flex;
    flex-direction: column; */

    // border: 1px solid tomato;

    form input, textarea {
        width: 100%;
        padding: 10px 0 5px;
        border-bottom: 1px solid #fff;
        font-weight: var(--fw-xl);
        letter-spacing: .9px;
    }
  }
}
