.grid__description {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    padding: 0 1.25rem;
    text-align: center;
    line-height: 1.3;
    font-size: var(--size-xs);
    font-weight: var(--fw-xl);
    letter-spacing: 1.7px;
  }
}

//  Media Queries
.grid__description {
  @media (min-width: 744px) {
    justify-content: flex-start;

    p {
      font-size: 20px;
      text-align: left;
    }
  }
}
