.grid__link {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 0;
  position: relative;

  @media (min-width: 744px) {
    align-items: start;
    padding-left: 12px;
  }

  a {
    font-size: var(--size-xxs);
    font-weight: var(--fw-r);
    text-transform: uppercase;

    @media (min-width: 744px) {
      font-size: var(--size-xs);
    }
  }

  .fa-solid {
    @media (min-width: 744px) {
      position: absolute;
      bottom: 5px;
      left: 40px;
      font-size: 14px;
    }
  }
}