.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 300px 130px 100px 500px 650px 400px;

  width: 90%;
  max-width: 62.5rem;
  margin: 1.5625rem auto 0;

  @media (min-width: 1024px) and (max-width: 1920px) {
    max-width: 1440px;
  }
}